<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel='stylesheet' href='/public/src/css/style.css'/>
</head>
<body>

    <div class="mian-header">
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/blog">博客</a></li>
            <li><a href="/album">图片</a></li>
            <li><a href="/favorite">收藏</a></li>
        </ul>
    </div>

    <div class="main-body">
        <%- body %>
    </div>

    <div class="main-footer">
    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/public/src/js/blog-index.js"></script>
</body>
</html>