<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <link rel='stylesheet' href='/public/lib/laypage/skin/laypage.css' />

    <link rel='stylesheet' href='/public/src/css/style.css'/>
</head>
<body>

    <div class="mian-header">
        <ul>
            <li><a href="/" class="ajax-link" ajax-target=".main-body">首页</a></li>
            <li><a href="/blog" class="ajax-link" ajax-target=".main-body">博客</a></li>
            <li><a href="/album" class="ajax-link" ajax-target=".main-body">图片</a></li>
            <li><a href="/favorite" class="ajax-link" ajax-target=".main-body">收藏</a></li>
        </ul>
    </div>

    <div class="main-body">
        <%- body %>
    </div>

    <div class="main-footer">
    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/ejs/ejs.min.js"></script>
    <script src="/public/src/js/ajax-link.js"></script>
    <script src="/public/src/js/blog-index.js"></script>
</body>
</html>