<div class="info-i box-shadow">
    <div id="comments" class="clearfix">

        <div class="comments-box box-shadow">
            <%var comments = post.comments||[];%>
            <h3 class="comments-title">全部评论：<span class="comments-num"><%-comments.length%>条</span></h3>
            <ol class="commentlist">
                <% comments.forEach(function(comment,i){%>
                        <% include comments-item %>
                <%});%>
            </ol>
            <div class="create-post-comment-msg"></div>

            <%if(comments.length<50){%>
                <% include comment-create %>
            <%}else{%>
                <div>最多只能有50条评论，评论功能已关闭。</div>
            <%}%>
        </div>

    </div>
</div>