<div>
    <div class="posts">

        <div class="posts-box" id="blog-post-box">
            <ul class="ajax-load-box posts-con">
                <% include index-posts %>
            </ul>
            <div class="clearfix"></div>

            <div id="ajax-load-posts">
                <button id="fa-loadmore" class="button button-more" data-home="true" data-paged="2" data-action="fa_load_postlist" data-total="12">加载更多</button>
            </div>
        </div>

        <div class="sidebar sidebar-right">
            <% include sidebar %>
        </div>

    </div>
</div>