<div>
    <div class="posts">

        <div class="posts-box" id="blog-post-box">
            <ul class="ajax-load-box posts-con">
                <% include index-posts %>
            </ul>
            <div class="clearfix"></div>

            <div id="blogListPageString">
                <%-pageTemplateString%>
            </div>
        </div>

        <div class="sidebar sidebar-right">
            <%-HTML_SIDEBAR %>
        </div>
        <script>
            window.setTimeout(function(){
                var mainContainer = document.getElementById("cp-main-container");
                if(!mainContainer){
                    window.location.reload();
                }
            },1000);
        </script>
    </div>
</div>