<div class="post-detail">

    <div>
        <div class="post">
            <div class="post-title posts-default-title">
                <h2><a><%=post.title%></a></h2>
            </div>
            <div class="post-content">
                <%=post.content%>
                sdbfjkhsdjhf
            </div>
            <div class="post-entry-categories">
                <a href="/tags/xxx" rel="tag">中国</a>
                <a href="/tags/xxx" rel="tag">中央</a>
                <a href="/tags/xxx" rel="tag">巡视</a>
                <a href="/tags/xxx" rel="tag">金融</a>
                <a href="/tags/xxx" rel="tag">金融机构</a>
            </div>
        </div>
    </div>

    <div>
        <% include comments %>
    </div>
</div>