<div class="post-detail">

    <div>
        <div class="post">
            <div class="post-title posts-default-title">
                <h2><a><%=post.title%></a></h2>
            </div>
            <div class="post-content">
                <%-post.content%>
            </div>
            <div class="post-entry-categories">
                <%
                    var tags = post.tags || [];
                    for(var i=0;i< tags.length;i++){
                        var tag = tags[i];
                %>
                    <a href="/search/tag/<%=tag%>" rel="tag"><%=tag%></a>
                <%
                    }
                %>
            </div>
        </div>
    </div>

    <div>
        <% include comments %>
    </div>
</div>