<div>
    <div class="posts">

        <div class="posts-box" id="blog-post-box">
            <% include post-content %>
        </div>

        <div class="sidebar sidebar-right">
            <%-HTML_SIDEBAR %>
        </div>

    </div>
</div>