<div class="albumPage">
    <div id="albumContainer" class="content-box" style="padding-right: 0;">
    </div>
    <div id="albumImageContainer" class="content-box" style="padding-right: 0;" >
    </div>

    <script>
        if(window.coolpengAlbumInit){
            window.coolpengAlbumInit();
        }else{
            window.coolpengAlbumNextInit = true;
        }
        //262:176==242:162
    </script>
</div>